@{
    ViewBag.Title = "List.cshtml";
    Layout = "~/Views/Shared/IndexLayout.cshtml";
}

@*<script src="~/Scripts/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
<script src="~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
<script src="~/Scripts/jtable.2.4.0/jquery.jtable.js"></script>
<link href="~/Scripts/jtable.2.4.0/themes/metro/blue/jtable.css" rel="stylesheet" />*@

<div id="table-list" style="width:100%">
    <script type="text/javascript">

        $(document).ready(function () {

            $('#table-list').jtable({
                title: 'Providers',
                sorting: true,
                defaultSorting: 'Name ASC',
                paging: true,
                actions: {
                    listAction: '/Provider/List',
                    deleteAction: '/Provider/Delete',
                    updateAction: '/Provider/Update',
                    createAction: '/Provider/Create'
                },
                fields: {
                    Id: {
                        title:'Id',
                        key: true,
                        create: false,
                        edit: false,
                        list:false
                    },
                    Name: {
                        title: 'Provider Name',
                    },
                }
            });

            $('#table-list').jtable('load');
        });

    </script>
</div>
